<div class="container">
    <div class="row">
         <div class="col-xs-3">
         </div>
          <div class="col-xs-6 user-intent-box">
            <div class="row user-intent-row">
                <div class="col-xs-12">
                    <h2>Your stack is being analyzed...</h2>
                    <h2 class="user-intent-desp">Meanwhile, can you help us improve our recommendations by providing appropriate tags for this component</h2>
                    <form class="form-user-intent">
                        <div class = "form-inline">
                            <label for = "artifacat">Artifact ID: </label>
                            <span for = "artifacat">{{modelContent.artifactId}}</span>
                        </div>
                        
                        <div class = "form-inline">
                            <label for = "group">Group ID: </label>
                            <span for = "artifacat">{{modelContent.groupId}}</span>
                        </div>

                        <div class = "form-inline">
                            <label for = "component">Component Name: </label>
                            <span for = "component">{{modelContent.name}}</span>
                        </div>

                    </form>

                    <div class="tag-comp">
                        <tag-input [(ngModel)]="addedTags">
                            <tag-input-dropdown [autocompleteItems]="masterTagList">
                            </tag-input-dropdown>
                        </tag-input>
                    </div>

                    <div class="btn-ctrls">
                        <button dropdownToggle type="button" class="btn btn-lg btn-primary" (click)="addTagComponent()">
                            Add Tags
                        </button>
                    </div>
                    <a href="#" (click)="moveStackReport($event)">
                            View stack report
                    </a>
                </div>
            </div>
          </div>
          <div class="col-xs-3">
         </div>
    </div>
</div>
