.launch-pad {
    margin: 1% auto;
    margin-bottom: 1%;
}
.user-intent-row{
    text-align: center;
}
.btn-ctrls{
    padding: 20px;
}
.form-user-intent{
   padding: 10px; 
}
.ng2-dropdown-menu{
    z-index: 99999 !important;
}