<div class="stack-report">
    <div *ngIf="!error">
        <tabset *ngIf="dataLoaded">
            <tab *ngFor="let tabz of tabs" (select)="tabSelection(tabz)" (deselect)="tabDeSelection(tabz)" (removed)="removeTabHandler(tabz)"
                [customClass]="tabz.active ? 'active-menu-item' : 'inactive-menu'">
                <ng-template tabHeading>
                    <i *ngIf="tabz.hasWarning" class="pficon-warning-triangle-o"></i>
                    <span [innerHtml]="tabz.title" style="margin-left: 5px"></span>
                </ng-template>
                <!-- Stack Report Design Revamp - BEGIN -->
                <analytics-report-summary (onCardClick)="handleCardClick($event)" [report]="tabz.content"></analytics-report-summary>
                <card-details [genericInformation]="genericInformation && genericInformation" *ngIf="cardDetails" [cardDetails]="cardDetails"
                    [repoInfo]="repoInfo"></card-details>
                <!-- Stack Report Design Revamp - END -->
            </tab>
        </tabset>
    </div>
    <div *ngIf="!dataLoaded" class="pre-loader">
        <div class="pre-loader-spinner spinner spinner-lg"></div>
    </div>
    <div class="error-msg blank-slate-pf" *ngIf="errorMessage">
        <div [hidden]="!errorMessage.status">
            <div class="warning-icon blank-slate-pf-icon">
                <i class="pficon-warning-triangle-o"></i>
            </div>
            <h1>
                Report failed
                <span *ngIf="errorMessage.status">{{errorMessage.status}}</span>
            </h1>
            <p>
                Error text: {{errorMessage.message}}
            </p>
        </div>
        <div [hidden]="errorMessage.status">
            <h3>
                Your report is being analyzed. Please visit again.
            </h3>
            <p>{{errorMessage.message}}</p>
        </div>
    </div>
</div>
