@import '../../../assets/stylesheets/base';

.error-msg{
    text-align: center;
    background: #fff;
    border: none;
    .warning-icon{
        font-size: 6em;
        
        i:before {
            color: #8b8d8f;
        }
    }
    .container-progress{
        width: 50%;
        margin: 0 auto;
    }
}
.stack-details {
    .stack-reports-btn {
        cursor: pointer;
    }
    .modal-header {
        padding: 15px 20px;
    }
    .modal-body {
        padding: 0 20px 30px 20px;
    }
    .modal-fullscreen {
        width: 90%;
        height: 90%;
    }
    .make-center {
        text-align: center;
    }

    .pre-loader {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.5);
        z-index: 99;
        .pre-loader-spinner {
            top: 50%;
        }
    }

    .recommendations-section {
        .recommendation-type {
            margin-bottom: 20px;
        }
        .recommendation-title {
            border-left: 5px solid #000;
            padding: 10px;
            background: #ededed;
        }
    }
    .preview-section {
        .preview-area {
            margin: 20px 10px;
            background: #ededed;
            padding: 10px;
            display: block;
        }
    }
}

.stack-section {
    font-size: 15px;
    div {
      padding-left: 10px;  
    }
    .outlier-name {
        font-weight: bold;
        &:after {
            content: ', ';
        }
        &:last-child:after {
            content: '';
        }
    }
    .recommend-tile {
        background: #fff;
        font-size: 15px;
        padding: 2px 0;
        margin-bottom: 2px;

        &.active {
            background: #555;
            color: #ededed;
        }
        &:after {
            content: '';
            clear: both;
            float: none;
            display: block;
        }
    }
}