.component-information {
    table {
        font-size: 13px;
        .child-class {
            text-indent: 30px;
        }
        .action {
            font-size: 10px;
            color: dodgerblue;
        }
    }
}
