.recommend-tile {
    border: 1px solid #ededed;
    background: #fff;
    font-size: 15px;
    padding: 2px 0;
    text-align: center;
    margin-bottom: 2px;

    &.active {
        background: #555;
        color: #ededed;
    }
    &:after {
        content: '';
        clear: both;
        float: none;
        display: block;
    }
}