<div class="preview">
    <h1 class="preview-header">Component level information</h1>
    <div class="row">
        <div class="col-xs-6 preview-container">
            <div class="preview-tile">
                <f8-chart [data]="gaugeChart.data" [configs]="configs" [chartOptions]="gaugeChart.options"></f8-chart>
                <div class="gauge-title">
                    Sentiment Score
                </div>
            </div>
        </div>
        <div class="col-xs-6 preview-container">
            <div class="preview-tile">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="usage-stat github-usage">
                            <div class="usage-icon">
                                <i class="fa fa-line-chart" aria-hidden="true"></i>
                            </div>
                            <div class="usage-metric">
                                <h2 class="usage-metric-value">{{previewData && previewData.github && previewData.github.dependent_projects}}</h2>
                                <div class="usage-metric-info">
                                    Github usage count
                                </div>
                                <p class="usage-metric-desc">(Number of packages including this as dependency)</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="usage-stat osio-usage">
                            <div class="usage-icon">
                                <i class="fa fa-line-chart" aria-hidden="true"></i>
                            </div>
                            <div class="usage-metric">
                                <h2 class="usage-metric-value">{{previewData && previewData.osio_user_count}}</h2>
                                <div class="usage-metric-info">
                                    OSIO Analytics usage count
                                </div>
                                <p class="usage-metric-desc">(Number of packages within OSIO including this as dependency)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 preview-container">
            <div class="preview-tile">
                <h3>Github Statistics</h3>
                <div class="content col-xs-12">
                    <div class="row">
                        <div class="stat margin-right-20">
                            <div class="desc">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                                <span>Watchers</span>
                            </div>
                            <div class="count">
                                {{previewData && previewData.github && previewData.github.watchers}}
                            </div>
                        </div>
                        <div class="stat margin-right-20">
                            <div class="desc">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <span>Stars</span>
                            </div>
                            <div class="count">
                                {{previewData && previewData.github && previewData.github.stargazers_count}}
                            </div>
                        </div>
                        <div class="stat margin-right-20">
                            <div class="desc">
                                <i class="fa fa-code-fork" aria-hidden="true"></i>
                                <span>Forks</span>
                            </div>
                            <div class="count">
                                {{previewData && previewData.github && previewData.github.forks_count}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stat margin-right-20">
                            <div class="desc">
                                <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                <span>Issues</span>
                            </div>
                            <div class="count">
                                {{previewData && previewData.github && previewData.github.watchers}}
                            </div>
                        </div>
                        <div class="stat margin-right-20">
                            <div class="desc">
                                <i class="fa fa-tag" aria-hidden="true"></i>
                                <span>Releases</span>
                            </div>
                            <div class="count">
                                {{previewData && previewData.github && previewData.github.total_releases}}
                            </div>
                        </div>
                        <div class="stat margin-right-20">
                            <div class="desc">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <span>Contributors</span>
                            </div>
                            <div class="count">
                                {{previewData && previewData.github && previewData.github.contributors}}
                            </div>
                        </div>
                        <div class="stat margin-right-20">
                            <div class="desc">
                                <i class="fa fa-file-archive-o" aria-hidden="true"></i>
                                <span>Size</span>
                            </div>
                            <div class="count">
                                {{previewData && previewData.github && previewData.github.size}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 preview-container">
            <div class="preview-tile">
                <h3>Used by</h3>
                <div class="content col-xs-12">
                    <div *ngFor="let used of previewData && previewData.github && previewData.github.used_by" class="used-group row">
                        <div class="col-xs-6 package-used">
                            <i class="fa fa-folder folder-icon" aria-hidden="true"></i>
                            <span class="package-name-depend">{{used.name}}</span>
                        </div>
                        <div class="col-xs-6 used-stars">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <span class="used-star-count">{{used.stars}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <i class="fa fa-folder package-icon" aria-hidden="true"></i>
            <span class="package-name">{{previewData && previewData.name}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="version-information">
                <i class="fa fa-tag version-icon" aria-hidden="true"></i>
                <span class="version">{{previewData && previewData.version}}</span>
                <span class="support-info">(Current Version)</span>
            </div>
            <div class="version-information">
                <i class="fa fa-tag version-icon" aria-hidden="true"></i>
                <span class="version">{{previewData && previewData.latest_version || 'NA'}}</span>
                <span class="support-info">(Latest Version)</span>
            </div>
        </div>
    </div>
    <div class="row replaces-info margin-5px" *ngIf="previewData.replaces && previewData.replaces.length > 0">
        <div class="replaces-info-header" (click)="toggleAnalysedDepData($event)">
            <i class="fa fa-folder-open" aria-hidden="true"></i><span style="margin-left: 10px;">From your application stack, this package replaces:</span>
            <i [ngClass]="showAnalysedDepData ? 'fa fa-angle-up' : 'fa fa-angle-down'"  style="float: right;"></i>
        </div>
        <div *ngIf="showAnalysedDepData" class="list-group">
            <div class="col-xs-12" *ngFor="let value of previewData.replaces">
                <div class="package-used col-xs-2">
                    <i class="fa fa-folder folder-icon" aria-hidden="true"></i>
                    <span class="package-name-depend">{{value.name}}</span>
                </div>
                <div class="col-xs-2 used-stars">
                    <i class="fa fa-tag" aria-hidden="true"></i>
                    <span class="used-star-count">{{value.version}}</span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="previewData.license_outlier || previewData.usage_outlier" class="row margin-5px">
        <div class="col-xs-12 outliers-info">
            <div class="content">
                <span *ngIf="previewData.usage_outlier" class="outlier-pill">
                    <i class="fa fa-info" aria-hidden="true"></i>
                    Usage Outlier
                </span>
                <span *ngIf="previewData.license_outlier" class="outlier-pill">
                    <i class="fa fa-info" aria-hidden="true"></i>
                    License Outlier
                </span>
            </div>
        </div>
    </div>
    <div class="row margin-5px">
        <div class="col-xs-12 licenses-info">
            <h3>
                <i class="fa fa-certificate" aria-hidden="true"></i>
                <span class="license-header">Licenses</span>
            </h3>
            <div class="content">
                <span *ngFor="let license of previewData && previewData.licenses" class="license-pill">
                    {{license}}
                </span>
                <span *ngIf="!previewData.licenses || previewData.licenses.length === 0">NA</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>General note:</h3>
            <div class="content">
                <ul>
                    <li *ngIf="previewData && !previewData.security || previewData.security.length === 0">This package has no security vulnerability associated.</li>
                    <li *ngIf="previewData && previewData.security && previewData.security.length > 0">This package has the following security vulnerabilities associated: <br />
                        <span class="security-name" *ngFor="let security of previewData.security">{{security.CVE}}</span>
                    </li>
                    <li>It is an active package.</li>
                </ul>
            </div>
        </div>
    </div>
    <button *ngIf="previewData && previewData.showWorkItem" class="btn-blue" id="create-work-item">Create Work Item</button>
</div>