.preview {
    padding: 20px;
    .preview-header {
        margin-top: 0;
    }
    .margin-right-20 {
        margin-right: 20px;
    }
    .preview-container {
        .preview-tile {
            padding: 5px 20px;
            background: #fff;
            height: 220px;
            margin: 15px 0;

            .stat {
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 2px;
                margin: 5px;
                &:after {
                    content: '';
                    display: block;
                    float: none;
                    clear: both;
                }
                .desc {
                    float: left;
                    padding: 2px 5px 2px 5px;
                }
                .count {
                    float: right;
                    padding: 2px 5px 2px 5px;
                    font-weight: bold;
                    border-left: 1px solid #ccc;
                }
            }
            .metric {
                text-align: center;
                padding: 0;
                .metric-icon {
                    font-size: 30px;
                    color: #0d79d8;
                    padding: 10px 0;
                }
                .metric-count {
                    font-size: 25px;
                }
                .metric-description {
                    font-size: 12px;
                    color: #999;
                }
            }
            .usage-stat {
                &.github-usage {
                    .usage-icon, .usage-metric-value {
                        color: #187EDE;
                    }
                }
                &.osio-usage {
                    .usage-icon, .usage-metric-value {
                        color: #DC5356;
                    }
                }
                .usage-icon {
                    float: left;
                    font-size: 40px;
                    padding: 10px;
                    margin-right: 15px;
                    width: 15%;
                }
                .usage-metric {
                    float: left;
                    width: 80%;
                    .usage-metric-value {
                        font-size: 30px;
                        margin: 10px 0;
                    }
                    .usage-metric-info {
                        font-weight: 600;
                        font-size: 15px;
                        margin-top: -5px;
                        margin-bottom: -5px;
                    }
                    .usage-metric-desc {
                        color: #999;
                    }
                }
            }
        }
    }
    .package-name {
        font-size: 30px;
    }
    .package-icon {
        font-size: 30px;
        margin-right: 5px;
    }
    .version-information {
        display: inline-block;
        margin: 5px 20px 5px 0;
        padding: 5px;
        font-size: 15px;
        .version {
            font-weight: bold;
        }
    }
    .licenses-info {
        background: #fff;
        padding-bottom: 15px;
        .license-pill {
            padding: 5px 10px;
            background: #ededed;
            font-size: 15px;
            display: inline-block;
            margin-right: 10px;
        }
    }
    .outliers-info {
        background: #fff;
        padding: 10px 20px;
        margin: 10px 0;
        .outlier-pill {
            display: inline-block;
            padding: 5px;
            margin-right: 10px;
            font-size: 15px;
            color: RED;
        }
    }
    .replaces-info {
        background: #fff;
        padding: 10px;
        border: 2px solid #000;
        .replaces-info-header {
            font-size: 15px;
        }
    }
    .margin-5px {
        margin: 5px;
    }
    .btn-blue {
        padding: 3px 10px;
        background-color: #187EDE;
        border: none;
        color: #fff;
        font-size: 15px;
    }
    .gauge-title {
        text-align: center;
        font-size: 15px;
    }
    .security-name {
        font-weight: bold;
        &:after {
            content: ', ';
        }
        &:last-child:after {
            content: '';
        }
    }
}